body{
    background-color: pink;
}
.login{
    margin-top: 10%;
    margin-left: 40%;
    width: 330px;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    
}
.username input{
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 22x;
    border-bottom: 2px solid gray;
}
.password input{
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 22x;
    border-bottom: 2px solid gray;
}
    
.forgot{
   margin: top 40px;
   font-size: 20px;
}
.btn .login-btn{
    width: 240x;
    height: 40px;
    background-color: rgb(255, 192, 229);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
}
.btn .login-btn:hover{
    font-size: 22px;
}
.sign-up{
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}
span{
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;}
   